<html>
    <head>
        <title>Tasks To Be Done</title>
        <link rel="stylesheet" href="Style/styles.css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1><%=day%></h1>
        </div>

        <div class="box">

      <%  another.forEach(function(item){   %>
        <form action="/delete", method="post">
            <div class="item">
                <input type="checkbox" name="checked" value=<%=item._id%> onchange="this.form.submit()">
                <p>
                    <%=item.name%>
                </p>
            </div>
            <input type="hidden" name="listname" value="<%=day%>"></input> 
        </form>
      <%  })     %>


        
        <form class="item" action="/" method="post">
            <input type="text" name="add" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button" value="<%=day%>">+</button>
        </form>
    </div>

    </body>
</html>